apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: stackfood-api
  labels:
    app: stackfood-api
  annotations:
    # Configurações para trabalhar com API Gateway via VPC Link
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/proxy-body-size: "20m"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
    # CORS será gerenciado pelo API Gateway
    nginx.ingress.kubernetes.io/enable-cors: "false"
    # Headers para integração com API Gateway
    nginx.ingress.kubernetes.io/use-forwarded-headers: "true"
    # Configuração para aceitar requisições do VPC Link
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
    - host: api.stackfood.com.br
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: stackfood-api
                port:
                  number: 80
