global:
  domain: https://${argocd_subdomain}.${domain_name}
configs:
  params:
    "server.insecure": true
  cm:
    create: true
  rbac:
    create: true
    policy.default: ""
    policy.csv: |
      g, argocd-readonly, role:readonly
      g, argocd-admin, role:admin
    scopes: "[groups]"
repoServer:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
server:
  config:
    url: "https://${argocd_subdomain}.${domain_name}"
    oidc.config: |
      name: Cognito SSO
      issuer: https://{cognito_client_issuer_url}
      clientId: ${cognito_client_id}
      clientSecret: ${cognito_client_secret}
      redirectUri: https://${argocd_subdomain}.${domain_name}/auth/callback
      requestedScopes: ["email", "openid", "phone", "groups"]
      requestedIDTokenClaims: {"groups": {"essential": true}}
  extraArgs:
    - --insecure
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/cors-expose-headers: "*, X-CustomResponseHeader"
      nlb.ingress.kubernetes.io/scheme: internet-facing
      nlb.ingress.kubernetes.io/target-type: instance
      nlb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
      nlb.ingress.kubernetes.io/certificate-arn: ${certificate_arn}
    hosts:
      - ${argocd_subdomain}.${domain_name}
