global:
  domain: https://${argocd_subdomain}.${domain_name}
configs:
  params:
    "server.insecure": true
  cm:
    create: true
  rbac:
    create: true
    policy.default: "role:admin"
    policy.csv: |
      # Políticas para grupos do Cognito
      g, argocd, role:admin
      g, system-admins, role:admin

      # Políticas para roles
      p, role:admin, applications, *, */*, allow
      p, role:admin, clusters, *, *, allow
      p, role:admin, repositories, *, *, allow
      p, role:admin, accounts, *, *, allow
      p, role:admin, certificates, *, *, allow
      p, role:admin, gpgkeys, *, *, allow
      p, role:admin, logs, *, *, allow
      p, role:admin, exec, *, *, allow
    scopes: "[cognito:groups]"
repoServer:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
server:
  config:
    url: "https://${argocd_subdomain}.${domain_name}"
    oidc.config: |
      name: StackFood SSO
      issuer: ${cognito_client_issuer_url}
      clientId: ${cognito_client_id}
      clientSecret: ${cognito_client_secret}
      redirectUri: https://${argocd_subdomain}.${domain_name}/auth/callback
      requestedScopes: ["openid", "email", "profile"]
      groupsClaim: "cognito:groups"
  extraArgs:
    - --insecure
  ingress:
    enabled: true
    ingressClassName: nginx-public
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/cors-expose-headers: "*, X-CustomResponseHeader"
    hosts:
      - ${argocd_subdomain}.${domain_name}
